.button {
    float: left;
    margin: 0 5px 0 0;
    width: 130px;
    height: 40px;
    position: relative;
    margin-top: 20px;
  }
  
  .button label,
  .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  
  .button input[type="radio"]:checked + label {
    background: DodgerBlue;
    border-radius: 4px;
  }
  
  .button label {
    background-color: rgb(195,192,187);
    border-radius: 4px;
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }

  .button label:hover, .submit:hover {
    background: DodgerBlue;
  }
  
  .submit {
    background: rgb(195,192,187);
    border: none;
    height: 30px;
    width: 300px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 63px;
    margin-bottom: 15px;
  }