* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstQuestionContainer {
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 175px;
} 

.secondQuestionContainer {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-left: 175px;
} 


.question-four {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    width: 270px;
}

select {
    cursor: pointer;
    border: 6px solid transparent;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 30px;
    background-color: rgb(195,192,187);
}

option {
    font-size: 15px;

  }

textarea {
    border: 1px solid rgb(195,192,187);
    padding: 5px;
    resize: none;
    height: 80px;
    width: 295px;
    margin-left: 65px;
}

.counter {
margin-left: 330px;
}

h1 {
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: center;
}

span {
    color: red;
    margin-right: 95px;
    margin-bottom: 15px;
}
