.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    padding-top: 20px;
    padding-bottom: 150px;
}

.titleContainer {
    padding-top: 10px;
    padding-bottom: 15px;
    width: 350px;
}

.total {
    margin-top: 15px;
    height: 30px;
    background-color: DodgerBlue;
}

.quantity p, .percent p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.number {
    background-color: DodgerBlue;
    width: 165px;
}

.quantityContainer {
    display: flex;
    width: 350px;
    justify-content: space-around;
}

